@charset "UTF-8";
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, optgroup, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td { margin: 0; padding: 0 }
ul, ol { list-style-type: none; list-style-image: none }
a { text-decoration: none }
a:active { background-color: transparent }
a:active, a:hover { outline: 0 none }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; font-size: 62.5% }
body { font-size: 14px; line-height: 1.8 }
body, button, input, select, textarea { font-family: 'helvetica neue', arial, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif; -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis; text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis }
h1, h2, h3, h4, h5, h6 { font-weight: normal }
h1 { font-size: 36px }
h2 { font-size: 30px }
h3 { font-size: 22px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }
abbr, acronym { border-bottom: 1px dotted; cursor: help }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark { background-color: #D2E5FF; color: #000 }
code, kbd, pre, samp { font-family: monaco, menlo, consolas, 'courier new', courier, monospace }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; overflow: auto }
q { quotes: none }
q:before, q:after { content: ''; content: none }
small { font-size: 85.7% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
table { border-collapse: collapse; border-spacing: 0 }
th { text-align: left }
table th, table td { border: 1px solid #ddd; padding: 8px 10px }
table th { font-weight: inherit; border-bottom-width: 2px; border-bottom-color: #ccc }
img { border: 0 none; width: auto\9; height: auto; max-width: 100%; vertical-align: top; -ms-interpolation-mode: bicubic }
svg:not(:root) { overflow: hidden }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0 none; white-space: normal; *margin-left: -7px }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle }
input, button { *overflow: visible }
button, select { text-transform: none }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer }
button[disabled], input[disabled] { cursor: default }
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; *height: 13px; *width: 13px }
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0 }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto }
textarea { overflow: auto; resize: vertical }
select:disabled option:checked, option:disabled:checked { color: #D2D2D2 }
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input { line-height: normal !important }
}
input::-moz-placeholder, textarea::-moz-placeholder { color: darkGray; opacity: 1 }
label { cursor: pointer }
select[size], select[multiple], select[size][multiple] { border: 1px solid #AAA; padding: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block }
audio, canvas, video, progress { display: inline-block; vertical-align: baseline }
audio:not([controls]) { display: none; height: 0 }
[hidden], template { display: none }
[draggable] { cursor: move }
dialog { border: 1px solid; padding: 0; margin: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content }
dialog::-webkit-backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3) }
dialog::backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3) }
.dib { display: inline-block; *display: inline; *zoom: 1 }
.dib-box { font-size: 0; *word-spacing: -1px }
@media (-webkit-min-device-pixel-ratio:0) {
  .dib-box { letter-spacing: -5px }
}
.dib-box .dib { vertical-align: top; font-size: 12px; letter-spacing: normal; word-spacing: normal; line-height: inherit }
.justify, .dib-box .justify { font-size: 0; line-height: inherit }
.justify { text-align: justify; text-justify: inter-ideograph; *zoom: 1; -moz-text-align-last: justify; text-align-last: justify }
.justify:after { content: ""; display: inline-block; width: 100% }
.justify .dib { -moz-text-align-last: auto; text-align-last: auto; text-justify: auto; text-align: left; font-size: 12px; letter-spacing: normal; word-spacing: normal }
.arrow { font-size: 0; width: 0; height: 0; line-height: 0; display: inline-block; *display: inline; *zoom: 1; vertical-align: -2px; border: 0 dashed transparent; border-width: 6px }
.arrow-top { border-bottom-style: solid; border-bottom-color: #2AB2DF }
.arrow-bottom { border-top-style: solid; border-top-color: #2AB2DF }
.arrow-left { border-right-style: solid; border-right-color: #2AB2DF }
.arrow-right { border-left-style: solid; border-left-color: #2AB2DF }
.arrow-left-top { border-top-style: solid; border-top-color: #2AB2DF; border-left-width: 0 !important }
.arrow-right-top { border-top-style: solid; border-top-color: #2AB2DF; border-right-width: 0 !important }
.arrow-left-bottom { border-bottom-style: solid; border-bottom-color: #2AB2DF; border-left-width: 0 !important }
.arrow-right-bottom { border-bottom-style: solid; border-bottom-color: #2AB2DF; border-right-width: 0 !important }
.fluid-media { position: relative }
.fluid-media div, .fluid-media video, .fluid-media embed, .fluid-media object, .fluid-media iframe { position: absolute; width: 100%; height: 100%; left: 0; top: 0 }
.widescreen { padding-bottom: 56.25% }
.narrowscreen { padding-bottom: 75% }
.youku { padding-top: 40px }
.wole { padding-top: 40px }
.tudou { padding-top: 50px }
.iqiyi { padding-top: 45px }
.youtube { padding-top: 30px }
.center-box { font-size: 0; *word-spacing: -1px; height: 100% }
@media (-webkit-min-device-pixel-ratio:0) {
  .center-box { letter-spacing: -5px }
}
.center-box .center-hack { display: inline-block; *display: inline; *zoom: 1; font-size: 0; width: 0; height: 100%; vertical-align: middle }
.center-box .center-body { letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; *zoom: 1; font-size: 12px; vertical-align: middle; padding: 0 !important; margin: 0 !important; width: 100%; white-space: normal; word-wrap: break-word }
.center-box .center-img { display: inline-block; *display: inline; *zoom: 1; width: 100%; text-align: center; vertical-align: middle; padding: 0 !important; margin: 0 !important; font-size: 0 }
.center-box img { vertical-align: middle }
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
.clearfix { *zoom: 1 }
.clearall { overflow: hidden; _overflow: visible; *zoom: 1 }
.clearcell { display: table-cell; *zoom: 1 }
.clearcell:after { clear: both; display: block; visibility: visible; overflow: hidden; height: 0 !important; line-height: 0; font-size: xx-large; content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x " }
.nowrap { white-space: nowrap; word-wrap: normal }
.wrap { white-space: normal; word-wrap: break-word }
.hidden, .hide { display: none }
.ellipsis { display: block; white-space: nowrap; word-wrap: normal; overflow: hidden; text-overflow: ellipsis; text-align: left }
.text-hide { text-indent: 100%; white-space: nowrap; overflow: hidden }
.clip-hide { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); padding: 0 !important; border: 0 none !important; height: 1px !important; width: 1px !important; overflow: hidden }
.ir { position: relative; z-index: -1; overflow: hidden }
.ir-bg { position: relative; z-index: 1 }
.ime-inactive { ime-mode: inactive !important }
.select-no-appearance { -webkit-appearance: none; -moz-appearance: none; appearance: none; text-overflow: ""; text-indent: .01px }
.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.rmb, .yuan { font-family: arial; font-style: normal }
.btn { -webkit-box-sizing: content-box; box-sizing: content-box; display: inline-block; border: 1px solid #ddd; *border: 0 none; border-radius: 2px; *margin-right: .3em; margin-bottom: 0; padding: 0 10px; *padding: 1px 10px; width: auto; height: 21px; line-height: 21px; font-size: 12px; font-weight: bold; cursor: pointer; border-bottom-color: #bbb !important; background-color: #f4f4f4; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eeeeee)); background-image: -webkit-linear-gradient(top, #f8f8f8, #eeeeee); background-image: linear-gradient(to bottom, #f8f8f8, #eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0) }
.btn, .btn:hover, .btn:visited { color: #333 !important }
.btn:hover { -webkit-box-shadow: none; box-shadow: none; background-color: #ededed; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6); background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0) }
.btn:active { background-color: #ebebeb; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#f2f2f2)); background-image: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2); background-image: linear-gradient(to bottom, #e6e6e6, #f2f2f2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#fff2f2f2', GradientType=0) }
.btn-error { border-color: transparent; border-bottom-color: #c21b1b !important; background-color: #ff3636; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4444), to(#ff2222)); background-image: -webkit-linear-gradient(top, #ff4444, #ff2222); background-image: linear-gradient(to bottom, #ff4444, #ff2222); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4444', endColorstr='#ffff2222', GradientType=0) }
.btn-error, .btn-error:hover, .btn-error:visited { color: #FFF !important }
.btn-error:hover { background-color: #e41b1b; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#ee2020), to(#d51314)); background-image: -webkit-linear-gradient(top, #ee2020, #d51314); background-image: linear-gradient(to bottom, #ee2020, #d51314); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee2020', endColorstr='#ffd51314', GradientType=0) }
.btn-error:active { background-color: #df1819; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#d51314), to(#ee2020)); background-image: -webkit-linear-gradient(top, #d51314, #ee2020); background-image: linear-gradient(to bottom, #d51314, #ee2020); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd51314', endColorstr='#ffee2020', GradientType=0) }
.btn-warning { border-color: transparent; border-bottom-color: #cf370c !important; background-color: #ff4e00; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff4400)); background-image: -webkit-linear-gradient(top, #ff5500, #ff4400); background-image: linear-gradient(to bottom, #ff5500, #ff4400); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5500', endColorstr='#ffff4400', GradientType=0) }
.btn-warning, .btn-warning:hover, .btn-warning:visited { color: #FFF !important }
.btn-warning:hover { background-color: #ef4000; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4400), to(#d73900)); background-image: -webkit-linear-gradient(top, #ff4400, #d73900); background-image: linear-gradient(to bottom, #ff4400, #d73900); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4400', endColorstr='#ffd73900', GradientType=0) }
.btn-warning:active { background-color: #e73d00; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#d73900), to(#ff4400)); background-image: -webkit-linear-gradient(top, #d73900, #ff4400); background-image: linear-gradient(to bottom, #d73900, #ff4400); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd73900', endColorstr='#ffff4400', GradientType=0) }
.btn-primary { border-color: transparent; border-bottom-color: #0960ab !important; background-color: #4288c5; background-image: -webkit-gradient(linear, left top, left bottom, from(#488fcd), to(#3a7db8)); background-image: -webkit-linear-gradient(top, #488fcd, #3a7db8); background-image: linear-gradient(to bottom, #488fcd, #3a7db8); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff488fcd', endColorstr='#ff3a7db8', GradientType=0); background-repeat: repeat-x }
.btn-primary, .btn-primary:hover, .btn-primary:visited { color: #FFF !important }
.btn-primary:hover { background-color: #3579b5; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#4087c6), to(#25659c)); background-image: -webkit-linear-gradient(top, #4087c6, #25659c); background-image: linear-gradient(to bottom, #4087c6, #25659c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4087c6', endColorstr='#ff25659c', GradientType=0) }
.btn-primary:active { background-color: #3073ad; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#25659c), to(#4087c6)); background-image: -webkit-linear-gradient(top, #25659c, #4087c6); background-image: linear-gradient(to bottom, #25659c, #4087c6); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25659c', endColorstr='#ff4087c6', GradientType=0) }
.btn-disabled { border: 1px solid #e0e0e0; border-bottom-color: #ccc !important; cursor: default }
.btn-disabled, .btn-disabled:hover, .btn-disabled:visited { color: #ccc !important; background-color: #ededed; background-repeat: repeat-x; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6); background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0) }
.btn-group { overflow: hidden }
.btn-group .btn { float: left; margin: 0; border-radius: 0; border-left-width: 0 }
.btn-group .btn-group .btn:first-child { border-left-width: 1px; border-radius: 2px 0 0 2px }
.btn-group .btn:last-child { border-radius: 0 2px 2px 0 }
.btn-xlarge { padding: 0 20px; height: 43px; line-height: 43px; font-size: 18px }
.btn-large { padding: 0 20px; height: 38px; line-height: 38px; font-size: 14px }
.btn-medium { height: 28px; line-height: 28px; padding: 0 20px }
.btn-small { height: 26px; line-height: 26px; padding: 0 20px }
.btn-xsmall { height: 23px; line-height: 23px }
.btn-block { display: block; width: 100%; padding-right: 0; padding-left: 0 }
.table th, .table table th { border: 0 none; border-bottom: 2px solid #ccc }
.table td, .table table td { border: 0 none; border-top: 1px solid #ddd }
.table-striped tbody tr:nth-child(odd) td { background-color: #fafafa }
.type .table-hover tbody tr:hover td, .type .table-hover thead tr:hover th { background-color: #f6f6f6 }
@media (max-width:767px) {
  .table-responsive { width: 100%; overflow-x: scroll; overflow-y: hidden; border-right: 1px solid #ddd; -ms-overflow-style: -ms-autohiding-scrollbar; -webkit-overflow-scrolling: touch }
  .table-responsive table { margin: 0 }
  .table-responsive th, .table-responsive td { white-space: nowrap }
  .table-responsive .table { border: 0 none }
}
@media print {
  * { background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; color: #000 !important }
  a, a:visited { text-decoration: underline }
  a[href]:after { content: "("attr(href) ")" }
  abbr[title]:after { content: "("attr(title) ")" }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid }
  thead { display: table-header-group }
  tr, img { page-break-inside: avoid }
  img { max-width: 100% !important }
  @page { margin: 0.5cm }
  p, h2, h3 { orphans: 3; widows: 3 }
  h2, h3 { page-break-after: avoid }
}
code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; color: #333; font-size: 12px; overflow-x: auto }
body { font-size: 14px; line-height: 1.8 }
body, button, input, select, textarea { -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis; text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis }
.type { margin-left: auto !important; margin-right: auto !important }
.type-box { max-width: 50em; *width: 50em; margin: 32px 0; padding: 1em 2em; border: 1px solid #ddd; border-radius: 6px; background-color: #fff }
.type a { color: #3187DB; text-decoration: none }
.type li a, .type h1 a, .type h2 a, .type h3 a, .type h4 a, .type h5 a, .type h6 a { border-bottom: 1px solid transparent; _border-bottom: 1px none }
.type li a:hover, .type h1 a:hover, .type h2 a:hover, .type h3 a:hover, .type h4 a:hover, .type h5 a:hover, .type h6 a:hover { text-decoration: none; border-bottom: 1px solid }
.type a:hover code { border-bottom: 1px solid }
.underline-fix a:hover, .underline-fix ins:hover { border: 0 none; text-decoration: underline }
.type a img { vertical-align: baseline }
.type acronym, .type abbr { border-bottom: 1px dotted }
.type i { font-style: italic }
.type cite, .type em, .type var, .type address, .type dfn { font-style: normal }
.type cite { border-bottom: 3px double }
.type u, .type em { margin-right: .25em; text-decoration: none }
.type u + u, .type u + em, .type em + em, .type em + u, .type a + a { margin-left: .25em }
.type u { border-bottom: 1px solid }
.type em { border-bottom: 1px dotted }
.type figure { text-align: center }
.type p { margin-top: 18px; margin-bottom: 18px }
h1 { font-size: 30px }
h2 { font-size: 26px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 16px }
h6 { font-size: 14px }
.type blockquote { margin: 32px 28px; padding-left: 14px; border-left: 3px solid #CCC; line-height: 1.6 }
.type ul, .type ol { margin-bottom: 14px }
.type ul { list-style-type: square; padding-left: 30px; margin-top: 14px }
.type ul ul, .type ul ol ul { list-style-type: disc }
.type ol { list-style: decimal; padding-left: 30px }
.type ol ol ul, .type ol ul ul, .type ul ul ul { list-style-type: circle }
.type ol ol ol ul, .type ol ol ul ul, .type ol ul ul ul, .type ul ul ul ul { list-style-type: square }
.type dt { font-weight: bold; margin-top: 14px }
.type code { display: inline-block; *display: inline; *zoom: 1; line-height: normal; border-radius: 3px }
.type pre { font-size: 12px; overflow: auto; word-break: break-all; word-wrap: break-word; -webkit-overflow-scrolling: touch }
.type pre code { margin: 0; padding: 0; border: 0 none; background: none; border-radius: 0; font-size: inherit }
.type kbd { display: inline-block; padding: 0.25em 0.5em 0.2em; margin-left: .25em; margin-right: .25em; font: 75%/1 monaco, menlo, consolas, 'courier new', courier, monospace; border: solid 1px #ccc; border-bottom-color: #bbb; border-radius: 3px; white-space: nowrap; word-wrap: normal; text-transform: capitalize; color: #555; background-color: #fefefe; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(transparent)); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), transparent); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=0); -webkit-box-shadow: 0px 2px 0px #ccc, 0 3px 1px #999, inset 0 1px 1px #fff; box-shadow: 0px 2px 0px #ccc, 0 3px 1px #999, inset 0 1px 1px #fff }
.type .dark kbd, .type kbd.dark { color: #fdfdfd; text-shadow: 0 -1px 0 #000; border-color: #000; background-color: #4d4c4c; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(80%, transparent), color-stop(80%, transparent)); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent 80%, transparent); background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent 80%, transparent); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0); -webkit-box-shadow: 0px 2px 0 #000, 0 3px 1px #999, inset 0 1px 1px #aaa, inset 0 -1px 3px #272727; box-shadow: 0px 2px 0 #000, 0 3px 1px #999, inset 0 1px 1px #aaa, inset 0 -1px 3px #272727 }
.type kbd kbd { padding: 0; font-size: 100%; font-weight: bold; -webkit-box-shadow: none; box-shadow: none }
.type kbd[data-key]:after { font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif" }
.type kbd[data-key="command"]:after { content: ' ⌘' }
.type kbd[data-key="cmd"]:after { content: ' ⌘' }
.type kbd[data-key="shift"]:after { content: ' ⇧' }
.type kbd[data-key="control"]:after { content: ' ⌃' }
.type kbd[data-key="option"]:after { content: ' ⌥' }
.type kbd[data-key="capslock"]:after { content: ' ⇪' }
.type kbd[data-key="caps lock"]:after { content: ' ⇪' }
.type kbd[data-key="escape"]:after { content: ' ⎋' }
.type kbd[data-key="esc"]:after { content: ' ⎋' }
.type kbd[data-key="return"]:after { content: ' ↩' }
.type kbd[data-key="enter"]:after { content: ' ↩' }
.type kbd[data-key="delete"]:after { content: ' ⌫' }
.type kbd[data-key="eject"]:after { content: ' ⏏' }
.type hr { border: 0 none; border-bottom: 2px solid #999; margin-top: 32px; margin-bottom: 32px }
.type h2:before, .type h3:before, .type h4:before { margin-right: .5em; color: #888 }
.type { counter-reset: chapter section subsection }
.type h2 { counter-reset: section }
.type h2:before { content: counter(chapter); counter-increment: chapter }
.type-title h2 { counter-increment: section }
.type-title h2:before { content: counter(chapter, cjk-ideographic) "、"; margin-right: .2em }
.type h3 { counter-reset: subsection }
.type h3:before { content: counter(chapter) "." counter(section); counter-increment: section }
.type h4:before { content: counter(chapter) "." counter(section) "." counter(subsection); counter-increment: subsection }
.type-toc { margin: 16px auto; overflow: hidden; background-color: #fff; border: 1px solid #EAEAEA }
.type-toc li { overflow: hidden; margin-top: 1px; white-space: nowrap }
.type-toc li a { display: block; padding-left: .5em; overflow: hidden; color: #666 }
.type-toc li a:hover { background-color: #f5f5f5; border-bottom: 1px solid #E6E6E6; border-radius: 0 0 3px 3px; color: #3187DB }
.type-toc h2 { border-right: 1px solid #eee; padding: 0 22px; margin-bottom: 16px; line-height: normal }
.type-toc h2 { padding-bottom: 999em; margin-bottom: -999em; color: #666 }
.type-toc > ol { overflow: hidden; *zoom: 1; margin: 0; padding: 16px 20px }
.type-toc.fixed { position: fixed; left: 100px; top: 20px }
.type-toc.fixed h2 { font-size: 18px; float: none; width: 100%; padding: 6px 16px; margin: 0 }
.type-toc.fixed h2 + ol { padding-left: 0 }
ol.type-toc, .type-toc ol { counter-reset: list; list-style-type: none !important; *list-style-type: decimal !important }
.type-toc li:before { color: #666; margin-right: .25em; padding-left: .5em; float: left }
.type-toc li:before { counter-increment: list; content: counters(list, ".") " " }
.type-toc ul { list-style-type: square; list-style-position: inside }
.type-toc ul li:before { content: none !important }
.type .type-toc h2:before, .type .type-toc h3:before, .type .type-toc h4:before { content: none }
.type-toc ol, .type-toc ul { margin-top: 0; margin-bottom: 8px }
@font-face { font-family: "type"; unicode-range: U0B 7; src: local("Hiragino GB"), local("Heiti SC"), local(STHeiti), local(SimSun) }
@font-face { font-family: "type"; unicode-range: U2014; src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("Microsoft Yahei"), local(SimSun) }
@font-face { font-family: "type"; unicode-range: U2026; src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(Meiryo), local("MS Gothic"), local(SimSun), local(PMingLiU) }
@font-face { font-family: "type"; unicode-range: U201C-201D, U2018-2019; src: local("Hiragino Sans GB"), local("Heiti SC"), local(STHeiti), local(SimSun), local(PMingLiU) }
@font-face { font-family: "type"; unicode-range: UFF0C, U3002, UFF1B, UFF1A; src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("MS Gothic"), local("SimSun") }
@font-face { font-family: "type"; unicode-range: U3001; src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("SimSun"), local("MS Mincho"), local("PMingLiU") }
@font-face { font-family: "type"; unicode-range: U0A 5; src: local(arial) }
@font-face { font-family: "type"; src: local("Fix Firefox"); unicode-range: U270C }

/*main*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1415583391_3627498.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1415583391_3627498.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1415583391_3627498.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1415583391_3627498.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1415583391_3627498.svg#iconfont') format('svg'); /* iOS 4.1- */
}

a {color: #333; transition: color .3s,  background .3s;}

.iconfont {font-family:"iconfont" !important; font-size:16px; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.wrapper {position: relative; text-shadow: 0 0 1px rgba(0,0,0, .2)}
.header {padding: 120px 0 40px 0; width: 100%; position: relative; text-align: center;}
.header canvas {position: absolute; top: 0; left: 0; z-index: -1;}
.siteTitle {font-size: 45px; line-height: 45px; margin: 0 0 15px; text-align: center; overflow: hidden; position: relative;}
.site-description {font-size: 16px; color: #999;}
.category {list-style-type: none; font-size: 0; padding: 10px 0 0;}
.category li {display: inline-block; font-size: 14px;}
.category li a {color: #fff; background-color: rgba(0,0,0, .5); padding: 6px 10px; margin: 0 6px;}
.category li a:hover {color: #00a0ff; background-color: rgba(0,0,0, 1);}
.siteTitle a {color: #fff;}
.relation {padding: 10px 0 0;}
.relation a {color: #fff; font-size: 20px; transition: transform .3s; -webkit-transition: -webkit-transform .3s; display: block; width: 20px; margin: 0 auto;}
.relation a:hover {transform: rotate(360deg) scale(1.2, 1.2); -webkit-transform: rotate(360deg) scale(1.2, 1.2);}

footer {text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; padding: 15px 0; color: #999; font-size: 12px; background-color: #eee;}

.posttags {font-size: 0;}
.posttags a {background-color: #666; font-size: 12px; color: #fff; display: inline-block; *display: inline; *zoom: 1; height: 20px; line-height: 20px; padding:3px 8px; margin: 0 5px;}
.posttags a:hover {background-color: #000;}
.switchpage {overflow: hidden; padding: 10px 0;}
.switchpage .fa-chevron-right {float: right;}
.switchpage a {background-color: #00a0ff; float: left; line-height: 36px; color: #fff; padding:0 20px;}