---
layout: default
cssLink: /stylesheets/article.css
---
<!-- 博客主体  -->
<div class="post type">
    <div class="posttext">
        <div class="postdate">
            <a href="{{site.baseurl}}/archives.html#{{ page.date | date:"%y 年 %m 月" }}">
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ page.date | date_to_string }}
            </a>
        </div>
        <div class="posttitle">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="posttags">
            <i class="fa fa-tags"></i>&nbsp;&nbsp;
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags.html#{{ tag }}">{{ tag }}&nbsp;&nbsp;</a>
            {% endfor %}
        </div>
        <div class="postcontent">
        {{ content }}
        </div>
    </div>

    <div class="postfooter">
        <div class="switchpage">
            {% if page.previous %}
            <a class="fa fa-chevron-left" href="{{site.baseurl}}{{ page.previous.url }}"><i></i>{{ page.previous.title }}</a>
            {% else %}
            <a class="fa fa-chevron-left"><i></i>已到尽头</a>
            {% endif %}
            {% if page.next %}
            <a class="fa fa-chevron-right" href="{{site.baseurl}}{{ page.next.url }}">{{ page.next.title }}<i></i></a>
            {% else %} 
            <a class="fa fa-chevron-right">已见底了<i></i></a>
            {% endif %}
        </div>
    </div>
</div>